<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Autofac.WebApi2" version="4.1.0" targetFramework="net461" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Lambda2Js.Signed" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Cors" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.2" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="2.0.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="RavenDB.Client" version="4.0.0-rc-40025" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.4.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Cng" version="4.4.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.4.0" targetFramework="net461" />
</packages>